<section class="container page">
  <article>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <div data-iframe-width="150" data-iframe-height="300" data-share-badge-id="19fd15b0-9b47-4b0e-a9b8-fe74e226752e" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    <div data-iframe-width="150" data-iframe-height="300" data-share-badge-id="a7165604-ad18-483d-a65d-0354e84685b6" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    <div data-iframe-width="150" data-iframe-height="300" data-share-badge-id="00f1b1bb-e11d-413a-b39a-4cdce4f2117c" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    <div data-iframe-width="150" data-iframe-height="300" data-share-badge-id="4f5e2c0c-923e-40fa-9d78-0142487cbe41" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
    {{ .Content }}
  </article>
</section>
